.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  min-width: 1154px;
  margin-top: 45.6px;
  .logo img {
    display: inline;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img:first-child {
  width: 52px;
}

.logo img:nth-child(2) {
  width: 167px;
}
